<div><NavLink href="page-1" Match="NavLinkMatch.Prefix">Page 1 (No ActiveClass modification)</NavLink></div>
<div><NavLink href="page-1" Match="NavLinkMatch.Prefix" ActiveClass="btn btn-primary">Page 1 (With Custom ActiveClass)</NavLink></div>
<div><NavLink href="page-1-1" Match="NavLinkMatch.All" ActiveClass="btn btn-primary">Page 1.1</NavLink></div>
<div><NavLink href="page-1-2" Match="NavLinkMatch.All" ActiveClass="btn btn-primary">Page 1.2</NavLink></div>
<div><NavLink href="page-2" Match="NavLinkMatch.All">Page 2</NavLink></div>
<div><NavLink href="page-3" Match="NavLinkMatch.All">Page 3</NavLink></div>
<div><a href="page-3">Page 3 (HTML tag)</a></div>